# Created by .gitignore support plugin (hsz.mobi)

.autoenv
.env
.git
.idea
.python-version
**/*.ipynb*
**/*.pyc
**/__pycache__
local.py
.coverage
*.egg-info/
docs/_build

src/
env/
dist/
build/
.cache
.mypy_cache
newrelic.ini
