-r requirements.txt

git+https://github.com/CenterForOpenScience/aiohttpretty.git@develop
colorlog==2.5.0
coveralls
flake8==3.5.0
ipdb==0.12.2
ipython==7.8.0
mypy==0.580
mccabe==0.6.1
pycodestyle==2.3.1
pydevd==0.0.6
pyflakes==1.6.0
pytest==5.2.1
pytest-asyncio==0.10.0
pytest-cov==2.8.1
