aiocontextvars==0.2.2  # recommended for sentry-sdk
aiohttp==3.6.2
git+https://github.com/felliott/boto.git@feature/gen-url-query-params-6#egg=boto
celery==3.1.17
certifi==2019.09.11
# Building wheel for cryptography 3.4.0 requires a Rust version incompatible with Docker base image.
# Required by pyjwe and ndg-httpsclient
cryptography==3.3.2
furl==0.4.2
google-auth==1.4.1
humanfriendly==1.31
invoke==0.13.0
multidict==4.5.2
newrelic==5.2.0.127
oauthlib==0.7.2
pyjwe==1.0.0
pyjwt==1.4.0
python-dateutil==2.5.3
pytz==2017.2
sentry-sdk==0.14.4
redis==3.3.8
setuptools==37.0.0
stevedore==1.2.0
tornado==6.0.3
xmltodict==0.9.0
