agent==0.1.2
aiohttp==0.18.2
git+https://github.com/felliott/boto.git@feature/gen-url-query-params-6#egg=boto
celery==3.1.17
furl==0.4.2
humanfriendly==1.31
invoke==0.13.0
oauthlib==0.7.2
pyjwe==1.0.0
pyjwt==1.4.0
python-dateutil==2.5.3
pytz==2017.2
raven==5.27.0
setuptools==30.4.0
stevedore==1.2.0
tornado==4.3
xmltodict==0.9.0

# Issue: certifi-2015.9.6.1 and 2015.9.6.2 fail verification (https://github.com/certifi/python-certifi/issues/26)
certifi==2015.4.28

# Analytics requirements
python-geoip-geolite2==2015.0303
