PyJWE==0.1.6
PyJWT==1.4.0
aiohttp==0.18.2
celery==3.1.17
furl==0.4.2
git+https://github.com/chrisseto/boto.git#egg=boto
git+https://github.com/jmcarp/raven-python
humanfriendly==1.31
invoke==0.11.1
oauthlib==0.7.2
stevedore==1.2.0
tornado==4.2.1
xmltodict==0.9.0
